*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.test-h{
    height: 5rem;
}

.flex{
    display: flex;
}

.relative{
    position: relative;
}

.T-align-c{
    text-align: center;
}

.b-blue{
    color: white;
    padding: 1rem 1.5rem;
    background-color: rgb(0, 97, 255);
    text-decoration: none;
}

.bold{
    font-weight: bold;
}

.p90w{
    width: 85%;
}

/* HEADER */

header{
    justify-content: space-around;
    align-items: center;
}

.white-box{
    width: 40%;
}

header i{
    color: rgb(0, 97, 255);
}
header p{
    margin: 2rem auto;
}
header div:first-child{
    font-weight: bold;
}

/* MAIN */

/* FIRST-SECTION */

.first-section-box{
    background-color: rgb(180,208,231);
    padding: 2rem 0;
}

.boxed{
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title-box{
    width: 100%;
    text-align: left;
    margin: 1rem auto;
}
.title-box h1{
    font-size: 5rem;
    width: 80%;
}

.text-box{
    width: 30%;
}
.text-box p{
    width: 90%;
    margin: 2rem 0;
}
.text-box i{
    font-size: 3rem;
}

.container-x-abolutebox{
    width: 70%;
}


/* SECOND SECTION */

.second-section-box{
    width: 60% ;
    margin: 10rem auto;
}

.second-section-box h2{
    font-size: 2rem;
    margin-bottom: 3rem;
}

.second-section-box .left1{
    margin-left: 1rem;
}

input[type="radio"] {
    appearance: none;
}

/* BUSINESS PLANS */

.plans-container{
    margin-top: 3rem;
    justify-content: space-between;
}

.plans-box{
    border: 1px solid black;
    width: calc((100% / 3) - 1.5rem);
}

.plans-box .p-title{
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 1rem;
}
.plans-box i{
    margin-right: 0.5rem;
}

.inside-box-text{
    margin: 0 2rem;
    flex-direction: column;
    flex-wrap: wrap;
}
.inside-box-text h2{
    font-size: 1.7rem;
    margin: 2rem 0;  
}

.inside-box-text p{
    margin-bottom: 1.5rem;
}

.inside-box-text .first-p{
    font-weight: bold;
    margin-bottom: 1rem;
}
.inside-box-text .second-p{
    color: rgb(122,134,138);
    margin-bottom: 2rem;
}

.boxx{
    flex-direction: row;
    flex-wrap: wrap;
}

.inside-box-text a{
    margin: 2rem 0;
}

.inside-box-text .p-points{
    margin: 6rem 0 2rem 0;
}

.points-box{
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.third-section{
    width: 60%;
    margin: 3rem auto;
    border: 1px solid black;
}
.b-border{
    border-bottom: 1px solid black;
    padding: 1rem;
}
.ent-div{
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.ent-p-box{
    max-width: 70%;
    padding: 0 1.5rem 2rem;
}

.ent-first-p{
    margin-bottom: 3rem;
}
