*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

header{
    justify-content: space-around;
    align-items: center;
}

.white-box{
    width: 40%;
}

header p{
    margin: 2rem auto;
}