*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.test-h{
    height: 3rem;
}

.flex{
    display: flex;
}

.relative{
    position: relative;
}

.b-blue{
    color: white;
    padding: 1rem;
    background-color: blue;
    text-decoration: none;
}

/* HEADER */

header{
    justify-content: space-around;
    align-items: center;
}

.white-box{
    width: 40%;
}

header i{
    color: blue;
}
header p{
    margin: 2rem auto;
}
header div:first-child{
    font-weight: bold;
}

/* MAIN */

/* FIRST-SECTION */

.first-section-box{
    background-color: rgb(180,208,231);
    padding: 2rem 0;
}

.boxed{
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;

}

.title-box{
    width: 100%;
    text-align: left;
    margin: 1rem auto;
}
.title-box h1{
    font-size: 5rem;
    width: 80%;
}

.text-box{
    width: 30%;
}
.text-box p{
    width: 90%;
    margin: 2rem 0;
}
.text-box i{
    font-size: 3rem;
}

.container-x-abolutebox{
    width: 70%;
}
